services:

  web:
    image: python:3.10-slim
    container_name: demo_web
    working_dir: /app
    volumes:
      - .:/app
    command: >
      sh -c "pip install -r requirements.txt && python app.py"
    ports:
      - "8000:8000"
    networks:
      - app_net
    depends_on:
      mysql:
        condition: service_healthy

  redis:
    image: redis:7
    container_name: redis
    volumes:
      - redis_log:/var/log/redis
    networks:
      - app_net

  ## I copied this db section from the documentation of dockerhub
  ## https://hub.docker.com/_/mysql
  mysql:
    image: mysql:8.0
    restart: always
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: dipesh@123
      MYSQL_DATABASE: dipeshDB
    volumes:
      - mysql_log:/var/lib/mysql
    networks:
      - app_net
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
      

volumes:
  redis_log:
  mysql_log:

networks:
  app_net:
    driver: bridge
